/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
}

.imagem-principal {
  position: absolute;
  background-image: url("../IMG/imagem-kaio-removebg-preview\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: -32%;
  bottom: -12%;
  width: 75%;
  height: 100%;
} 


.container-header {
  width: 100%;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 2px 4px rgba(70, 69, 69, 0.2); */
}

.container-header-logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.container-header-logo-img {
  width: 8%;
  height: 60%;
  background-color: transparent;
  border: 3px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  font-size: 1.5rem;
  font-weight: bold;
}

.container-header-logo-texto {
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-header-logo-texto-titulo {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: left;
  margin-bottom: 0.2%;
}

.container-header-logo-texto-titulo h3 {
    color: #000;
    font-size: 1.25rem;
}

.container-header-logo-texto-descricao {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: left;
}

.container-header-logo-texto-descricao p {
    color: #000;
    font-size: 0.75rem;
}
.container-header-menu {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
}

.container-header-menu-texto {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.container-header-menu-texto h4 {
    color: #000;
    font-size: 0.8rem;
}

.container-header-menu-icon {
  width: 10%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.traco {
  background: #0f141e;
  display: block;
  width: 22px;
  height: 3px;
}

.container-main {
  height: 89vh;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: left;
  
}

.container-main-textos {
  height: 70%;
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: left;
  flex-direction: column;
}

.container-main-textos-nome {
  width: 95%;
  height: 7%;
  display: flex;
  align-items: end;
  justify-content: left;
}

.container-main-textos-nome h5 {
  font-size: .95rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  letter-spacing: .4em;
  color: #878a8f;
}

.container-main-textos-titulo {
  width: 95%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-textos-titulo1 {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.container-main-textos-titulo-texto h1 {
  font-size: 2.9rem;
  font-weight: 800;
  letter-spacing: -.01em;
  color: #0f141e;
  font-weight: 900;
}

.container-main-textos-descricao {
  width: 95%;
  height: 25%;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 4%;
}

.container-main-textos-descricao p {
  color: #878a8f;
  font-weight: 100;
  font-size: 1.2rem;
  
}

.container-main-textos-outros {
  width: 95%;
  height: 8%;
  display: flex;
  align-items: start;
  justify-content: left;
}

.container-main-textos-outros-espacamento {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.container-main-textos-outros-espacamento p {
  color: #ababb8;
  font-size: 0.9rem;
  font-weight: bolder;
}

.container-main-textos-outros-espacamento h4 {
  font-size: 1.1rem;
}

.container-main-textos-outros-espacamento h4 a {
  color: #0f141e;
  border: 0 none;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}

.container-main-textos-outros-espacamento h4 a:hover {
  color: #0f141e;
  border-bottom: 1px solid rgba(135,138,143,.4);
  transition: all .2s cubic-bezier(.3,0,.5,1);

}